.heading {
  font-size: var(--font-size-4xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-strong);
  margin-block-end: var(--space-2);
}

.description {
  font-size: var(--font-size-lg);
  color: var(--color-text);
  margin-block-end: var(--space-12);
}

.social {
  margin-block-start: var(--space-20);
}
